<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Fun Mode Child</title>
<!-- CSS -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/fmc.css">
</head>
<body>
	<!-- Navegação -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
		th:fragment="cabecalho">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Inicio</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-app">
				<ul class="nav navbar-nav">
					<li><a href="/registration">Cadastrar</a></li>
					<li><a href="/login">Login</a></li>
				</ul>
				<!-- TODO: Mostrar somente se estivar logado -->
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/carrinho">Carrinho</a></li>
					<li><a href="/conta">Conta</a></li>
					<li><a href="/pedido">Pedidos</a></li>
					<li><a href="/logout">Sair</a></li>
				</ul>
				<!-- TODO: Mostrar somente se estivar logado -->
			</div>
		</div>
	</nav>
	<script src="/assets/js/jquery-2.1.4.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>