<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fun Mode Child</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/fmc.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/fragments :: header}"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <th:block th:if="${orderId != null}">
                <div class="alert alert-success" role="alert">
                    <span class="bi-check-circle-fill" aria-hidden="true" th:text="' Pedido ' + ${orderId} + ' foi cancelado :('"></span>
                </div>
                <button type="button" class="btn btn-primary" onclick="document.location.href = '/';">Voltar para a home</button>
            </th:block>
            <th:block th:if="${orderId == null}">
                <div class="alert alert-danger" role="alert">
                    <span class="bi-exclamation-circle" aria-hidden="true"></span>
                    Erro ao cancelar o pedido
                </div>
                <button type="button" class="btn btn-primary" onclick="document.location.href = '/';">Voltar para a home</button>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>
