<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fun Mode Child</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/fmc.css">
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/fragments :: header}"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a th:each="category: ${categories}" th:href="@{/(cat=${category.id})}" class="list-group-item"
                   th:text="${category.nome}"></a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div id="promovidos" data-bs-theme="dark" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" th:each="promoted, index: ${promotedList}"
                                    data-bs-target="#promoted"
                                    th:attr="data-bs-slide-to=${index.count - 1},class=${index.first ? 'active' : '' }">
                            </button>
                        </div>
                        <div class="carousel-inner">
                            <div th:each="promoted, index: ${promotedList}"
                                 th:attr="class=${index.first ? 'carousel-item active' : 'carousel-item' }">
                                <a th:href="@{/promoted/{id}(id=${promoted.id})}">
                                    <img th:src="@{${promoted.refeBig}}" class="card-img" alt=""/>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3 th:text="${promoted.nome}"></h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#promoted"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#promoted"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div th:if="${products.isEmpty()}" class="col-sm-12 col-lg-12 col-md-12">Nenhum produto encontrado</div>
            <div th:if="${!products.isEmpty()}" th:each="product: ${products}" class="col-sm-4 col-lg-4 col-md-4 mb-3">
                <div class="img-thumbnail">
                    <div class="row">
                        <img th:src="@{${product.refe}}" class="img-fluid" alt="">
                    </div>
                    <div class="row">
                        <a class="text-reset" th:href="@{/product/{id}(id=${product.id})}" th:text="${product.nome}"/>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <span class="fs-6" th:text="'$ ' + ${product.formatPrice()}">></span>
                        </div>
                        <div class="col-md-6">
                            <a th:if="${product.quantidade > 0}" class="badge text-bg-success"
                               th:href="@{cart(sku=${product.id})}">Adicionar ao carrinho</a>
                            <span th:if="${product.quantidade == 0}" class="badge text-bg-danger">Esgotado</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="row">
                <div class="col-12">
                    <p th:text="'Copyright &copy; FUN MODE CHILD ' + ${#dates.year(#dates.createToday())}"></p>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
