<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fun Mode Child</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/fmc.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/fragments :: header}"></div>
<div class="container">
    <form method="post" action="/payment">
        <div class="row">
            <div class="col-md-6">
                <h3>Forma de Pagamento - Cartão de Crédito</h3>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="card-number">Número do cartão</label>
                            <input type="text" class="form-control" id="card-number" name="card-number" maxlength="16"
                                   required="required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="card-name">Nome</label>
                            <input type="text" class="form-control" id="card-name" name="card-name" maxlength="18"
                                   required="required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Validade do Cartão</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="month">Mês</label>
                                <div class="form-group">
                                    <select name="month" id="month" class="form-control"
                                            required="required">
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="year">Ano</label>
                                <div class="form-group">
                                    <select name="year" id="year" class="form-control"
                                            required="required">
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="cvv">Código</label>
                                <div class="form-group">
                                    <input type="text" placeholder="xxx" class="form-control" id="cvv" name="cvv"
                                           maxlength="3" required="required">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="statements">Parcelas</label>
                                <div class="form-group">
                                    <select name="statements" id="statements" class="form-control" required="required">
                                        <option value="1">1x</option>
                                        <option value="2">2x</option>
                                        <option value="3">3x</option>
                                        <option value="4">4x</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Endereço de Entrega</h3>
                <p th:text="${customer.address.addressLine}"></p>
                <p th:text="${customer.address.number}"></p>
                <p th:text="${customer.address.neighbourhood}"></p>
                <p th:text="${customer.address.city}"></p>
                <p th:text="${customer.address.state}"></p>
                <p th:text="'CEP: ' + ${customer.address.postalCode}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Itens</h3>
                <p th:if="${cart.lista.isEmpty()}">Seu carrinho de compras está vazio!</p>
                <table class="table" th:if="${!cart.lista.isEmpty()}">
                    <tr>
                        <th>Item</th>
                        <th style="width:150px;">Quantidade</th>
                        <th style="width:150px;" class="text-right">Preço Unitário</th>
                        <th style="width:150px;" class="text-right">Valor</th>
                    </tr>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.product().getName}"></td>
                        <td th:text="${product.quantity()}"></td>
                        <td class="text-right" th:text="'$ ' + ${product.product().formatPrice()}"></td>
                        <td class="text-right" th:text="'$ ' + ${product.formatTotalPrice()}"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="text-right"><strong>Total</strong></td>
                        <td class="text-right" th:text="'$ ' + ${totalCartPrice}"></td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-warning btn-xs"
                                onclick="document.location.href = '/cart';">Voltar para o Carrinho
                        </button>
                    </div>
                    <div class="col-md-6 text-right" th:if="${!cart.lista.isEmpty()}">
                        <button type="submit" class="btn btn-primary" name="save" value="1">Finalizar Pedido</button>
                    </div>
                </div>
                <div class="row" th:if="${errors != null && !errors.isEmpty()}">
                    <div class="col-md-12">
                        <ul class="text-danger">
                            <li th:each="error : ${errors}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>
                <br>
                <th:block th:if="${errors != null && errors.isEmpty()}">
                    <div class="row" th:if="${orderId == -1}">
                        <div class="col-md-5">
                            <div class="alert alert-danger mg-top-30" role="alert"><span
                                class="bi-exclamation-circle"></span> Não foi possível salvar o pedido.
                            </div>
                        </div>
                    </div>
                    <div class="row" th:if="${orderId > 0}">
                        <div class="col-md-5">
                            <div class="alert alert-success mg-top-30" role="alert"><span
                                class="bi-check-circle"></span> Pedido salvo com sucesso!
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </form>
</div>
</body>
</html>
