<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fun Mode Child</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/fmc.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/fragments :: header}"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Status dos Pedidos</h2>
            <div>
                <table class="table table-striped table-responsive">
                    <tr>
                        <td>Pedido</td>
                        <td>Data do Pedido</td>
                        <td>Valor</td>
                        <td>Status</td>
                        <td><br></td>
                    </tr>
                    <th:block th:if="${!pedidos.isEmpty()}">
                        <tr th:each="pedido : ${pedidos}">
                            <td th:text="${pedido.id}"></td>
                            <td th:text="${pedido.dataPedido}"></td>
                            <td th:text="'$ ' + ${pedido.precoTotal}"></td>
                            <td th:text="${ pedido.ativo ? 'OK' : 'Cancelado' }"></td>
                            <td><a th:href="@{/pedido/{id}/detalhe(id=${pedido.id})}">Detalhes</a></td>
                        </tr>
                    </th:block>
                </table>
            </div>
            <div th:if="${pedidos.isEmpty()}" class="alert alert-warning" role="alert">
                <span class="bi-exclamation-circle" aria-hidden="true"></span> Não foram encontrados
                pedidos
            </div>
            <a href="/" class="btn btn-primary">Voltar</a>
        </div>
    </div>
</div>
</body>
</html>
