<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fun Mode Child</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/fmc.css">
</head>
<body>
<div th:replace="~{fragments/fragments :: cabecalho}"></div>
<div class="container">
    <div th:if="${product == null}" class="row">
        <div class="col-md-12">Produto não encontrado.</div>
    </div>
    <div th:if="${product != null}" class="row">
        <div class="col-md-9">
            <img th:src="@{${product.refe}}" alt=""/>
            <h2 th:text="${product.nome}"></h2>
            <p th:text="${product.descricao}"></p>
            <h3 th:text="${product.formatPrice()}"></h3>
        </div>
        <div class="col-md-3">
            <button th:if="${product.quantidade > 0}" class="btn btn-success btn-lg"
                    th:onclick="'adicionarCarrinho('+${product.id}+');'"><span
                class="glyphicon glyphicon-shopping-cart"></span> Adicionar ao carrinho
            </button>
            <h2 th:if="${product.quantidade == 0}"><span class="label label-danger">Esgotado</span></h2>
        </div>
    </div>

    <div th:if="${produtosCategoria.size() == 0}" class="row">
        <div class="col-md-12">
            <hr/>
            <h5>Produtos Relacionados não encontrados</h5></div>
    </div>
    <div th:if="${produtosCategoria.size() > 0}" class="row">
        <div class="col-md-12">
            <hr/>
            <h5>Produtos Relacionados</h5></div>
    </div>
    <div th:if="${produtosCategoria.size() > 0}" th:each="pCategoria: ${produtosCategoria}" class="row">
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img th:src="@{${pCategoria.refe}}" alt=""/>
                <div class="caption">
                    <h4><a th:href="@{/product/{id}(id=${pCategoria.id})}" th:text="${pCategoria.nome}"></a></h4>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function adicionarCarrinho(sku) {
        document.location.href = "/carrinho?sku=" + sku;
    }
</script>
<script src="/assets/js/jquery-2.1.4.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>
