<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fun Mode Child</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/fmc.css">
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/fragments :: header}"></div>
<div class="container mg-btm-30">
    <img src="/assets/img/logo.png" alt="Fun Mode Child"/>
    <h1 class="my-1">Cadastro</h1>
    <form action="/registration" method="post" th:object="${customer}">
        <h3>Seus dados</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control" id="name" name="name" maxlength="100" th:field="*{name}"
                           required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="surname">Sobrenome</label>
                    <input type="text" class="form-control" id="surname" name="surname" maxlength="100" th:field="*{surname}"
                           required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="birthDate">Data de Nascimento</label>
                    <input type="date" class="form-control" id="birthDate" name="birthDate" th:field="*{birthDate}"
                           required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" maxlength="100" th:field="*{email}"
                           required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" class="form-control" id="cpf" name="cpf" maxlength="11" th:field="*{customerIdentification}"
                           required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="address">Endereço</label>
                    <input type="text" class="form-control" id="address" name="address" th:field="*{address.addressLine}"
                           required>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="number">Número</label>
                    <input type="text" class="form-control" id="number" name="number" th:field="*{address.number}" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="additional-info">Complemento</label>
                    <input type="text" class="form-control" id="additional-info" name="additional-info" maxlength="8"
                           th:field="*{address.addressComplement}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="neighbourhood">Bairro</label>
                    <input type="text" class="form-control" id="neighbourhood" name="neighbourhood" required th:field="*{address.neighbourhood}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="cep">CEP</label>
                    <input type="text" class="form-control" id="cep" name="cep" maxlength="8" required
                           th:field="*{address.postalCode}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="city">Cidade</label>
                    <input type="text" class="form-control" id="city" name="city" required th:field="*{address.city}">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="state">Estado</label>
                    <select name="state" id="state" class="form-select" required th:field="*{address.state}">
                        <option value="">Selecione</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AM">Amazonas</option>
                        <option value="AP">Amapá</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="PR">Paraná</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SE">Sergipe</option>
                        <option value="SP">São Paulo</option>
                        <option value="TO">Tocantins</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="phone">(DDD + Telefone)</label>
                    <input type="text" class="form-control" id="phone" name="phone" required
                           th:field="*{phoneNumber}">
                </div>
            </div>
        </div>
        <div class="row my-3">
            <h3>Sua senha</h3>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" name="password" th:field="*{password}"
                           required>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="password-check">Confirme a Senha</label>
                    <input type="password" class="form-control" id="password-check" name="password-check" required>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
</body>
</html>
